<div class="ui basic modal" id="confirmationModal">
  <div class="ui icon header">
    <i class="icon" id="iconConfirmationModal"></i>
    <h1 id="headerConfirmationModal"></h1>
  </div>
  <div class="content">
    <p id="contentConfirmationModal" style="text-align: center;"></p>
  </div>
  <div class="actions">
    <div id="noConfirmButton" class="ui white basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div id="yesConfirmButton" class="ui red ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>