<div class="ui basic modal" id="deleteConfirmationModal">
  <div class="ui icon header">
    <i class="archive icon"></i>
    Are you sure you want to delete?
  </div>
  <div class="content">
    <p>By confirming to delete, any changes made are permanent and irreversible. Hit Yes if you are sure to delete and No if not.</p>
  </div>
  <div class="actions">
    <div class="ui white basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui red ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>