body {
    height: 88%;
}

input[type=file] {
    display: none;
}

#imagePreview {
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gotoButtons:hover {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .single-breakpoint {
        height: 150px;
        width: 150px;
    }
}