<form class="ui large form" id="addCourseForm">
    <div class="ui stacked segment">
        <h3 class="ui header">
        Add Course Form
        </h3>
        <div class="field">
            <input type="text" name="code" placeholder="Course Code">
        </div>
        <div class="field">
            <input type="text" name="name" placeholder="Course Name">
        </div>
        <div class="field">
            <input type="text" name="college" placeholder="College">
        </div>
        <div class="ui fluid large submit green button">Add</div>
        <div class="ui divider"></div>
        <div class="ui fluid large cancel-button button">Cancel</div>
        <div class="ui error message"></div>
    </div>
</form>