<form class="ui large form vertical segments" id="addCollegeForm" enctype="multipart/form-data" style="padding: 0;">
    <div class="ui segment" style="position: relative;">
        <div class="ui placeholder" style="height: 180px; border-radius: 3px;">
            <img class="ui image hidden" id="imagePreview" src="#"/>
        </div>
        <div style="margin: auto; z-index: 1; position: absolute; top: 20px; right: 20px;">
            <div class="ui inverted green mini button" id="mockFileButton">Upload</div>
            <input id="realInputButton" type="file" name="image" accept="image/*" onchange="previewImage(event)" />
        </div>
        <p id="loadingText" style="position: absolute; top: 40px;"></p>
    </div>
    <div class="ui segment">
        <h3 class="ui header">
            Add College Form
        </h3>
        <div class="field">
            <input type="text" name="code" placeholder="College Code">
        </div>
        <div class="field">
            <input type="text" name="name" placeholder="College Name">
        </div>
        <div id="submitAddCollege" class="ui fluid large submit green button">Add</div>
        <div class="ui divider"></div>
        <div id="cancelAddCollege" class="ui fluid large cancel-button button">Cancel</div>
        <div class="ui error message"></div>
    </div>
</form>