<form class="ui large form vertical segments" id="editStudentForm" enctype="multipart/form-data" style="padding: 0;" autocomplete="off">
    <div class="ui segment" style="position: relative;">
        <div class="ui placeholder" style="height: 180px; border-radius: 3px;">
            <img class="ui image" id="imagePreviewStudent" src="{{img_url}}" />
        </div>
        <div style="margin: auto; z-index: 1; position: absolute; top: 20px; right: 20px;">
            <div class="ui inverted green mini button" id="mockFileStudentButton">Upload</div>
            <input id="realInputStudentButton" type="file" name="image" accept="image/*" onchange="previewImage(event, 'Student')" />
        </div>
    </div>
    <div class="ui segment">
        <h3 class="ui header">Edit Student Form</h3>
        <h5 class="ui left aligned header">Currently editing: {{student_id}}</h5>
        <div class="field">
            <input type="text" name="student_id" placeholder="New Student ID">
        </div>
        <div class="field">
            <input type="text" name="firstname" placeholder="New First Name">
        </div>
        <div class="field">
            <input type="text" name="lastname" placeholder="New Last Name">
        </div>
        <div class="field">
            <div class="ui fluid search selection dropdown" id="dropdownMenuCourse">
                <input type="hidden" name="course">
                <i class="dropdown icon"></i>
                <div class="default text">Choose Course</div>
            </div>
        </div>
        <div class="field">
            <div class="ui fluid selection dropdown">
                <input type="hidden" name="year">
                <i class="dropdown icon"></i>
                <div class="default text">Choose Year Level</div>
                <div class="menu">
                    <div class="item" data-value="1st">1st</div>
                    <div class="item" data-value="2nd">2nd</div>
                    <div class="item" data-value="3rd">3rd</div>
                    <div class="item" data-value="4th">4th</div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="ui fluid selection dropdown">
                <input type="hidden" name="gender">
                <i class="dropdown icon"></i>
                <div class="default text">Choose Gender</div>
                <div class="menu">
                    <div class="item" data-value="Man">Man</div>
                    <div class="item" data-value="Woman">Woman</div>
                    <div class="item" data-value="Transgender">Transgender</div>
                    <div class="item" data-value="Non-binary/Non-conforming">Non-binary/Non-conforming</div>
                    <div class="item" data-value="Prefer not to respond">Prefer not to respond</div>
                </div>
            </div>
        </div>
        <div class="ui fluid large submit green button">Edit</div>
        <div class="ui divider"></div>
        <div class="ui fluid large cancel-button button">Cancel</div>
        <div class="ui error message"></div>
    </div>
</form>