<form class="ui large form" id="editCollegeForm" autocomplete="off">
    <div class="ui stacked segment">
        <h3 class="ui header">Edit College Form</h3>
        <h5 class="ui left aligned header">Currently editing: {{code}}</h5>
        <div class="field">
            <input type="text" name="code" placeholder="New College Code">
        </div>
        <div class="field">
            <input type="text" name="name" placeholder="New College Name">
        </div>
        <div class="ui fluid large submit green button">Edit</div>
        <div class="ui divider"></div>
        <div class="ui fluid large cancel-button button">Cancel</div>
        <div class="ui error message"></div>
    </div>
</form>