<form class="ui large form" id="addCollegeForm">
    <div class="ui stacked segment">
        <h3 class="ui header">
        Edit College Form
        </h3>
        <div class="field">
            <input type="text" name="code" placeholder="College Code">
        </div>
        <div class="field">
            <input type="text" name="name" placeholder="College Name">
        </div>
        <div class="ui fluid large submit green button">Add</div>
        <div class="ui divider"></div>
        <div class="ui fluid large cancel-button button">Cancel</div>
        <div class="ui error message"></div>
    </div>
</form>