<div style="max-height: 500px; overflow-y: scroll;">
    <table class="ui single line table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Registration Date</th>
                <th>E-mail address</th>
                <th>Premium Plan</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John Lilki</td>
                <td>September 14, 2013</td>
                <td>jhlilk22@yahoo.com</td>
                <td>No</td>
            </tr>
        </tbody>
    </table>
</div>