<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        
        <title>Student Information System</title>

        <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    </head>
    <body>
        {% block content %}{% endblock %}
        
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/menu.js') }}"></script> -->
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/sidebar.js') }}"></script> -->
    </body>
</html>