{% extends "base.html" %}

{% block content %}
<div style="margin-top: 100px;" class="ui container">
  <h2>Student Information System</h2> 
  
  <div class="ui top attached tabular menu active">
    <a class="item active" data-tab="tabColleges">Colleges</a>
    <a class="item" data-tab="tabCourses">Courses</a>
    <a class="item" data-tab="tabStudents">Students</a>
  </div>
  
  <div class="ui bottom attached tab segment active" data-tab="tabColleges">
    <div id="tabColleges" class="ui placeholder segment fixed-container"></div>
  </div>

  <div class="ui bottom attached tab segment" data-tab="tabCourses">
    <div id="tabCourses" class="ui placeholder segment fixed-container"></div>
  </div>
  
  <div class="ui bottom attached tab segment" data-tab="tabStudents">
    <div id="tabStudents" class="ui placeholder segment fixed-container"></div>
  </div>
  
  <div class="ui horizontal divider"></div>
</div>
{% endblock %}