{% extends "base.html" %}

{% block content %}
<div style="margin-top: 50px;" class="ui container">
  <h2>Student Information System</h2> 
  
  <div class="ui top attached tabular menu active">
    <a class="item active" data-tab="college">Colleges</a>
    <a class="item" data-tab="course">Courses</a>
    <a class="item" data-tab="student">Students</a>
  </div>
  
  <div class="ui bottom attached tab segment active" data-tab="college">
    <div class="ui grid padded">
      <div class="ui column">
        <div class="ui row">
          <div class="ui fluid search" id="collegeSearch">
            <div class="ui fluid icon input">
              <input class="prompt" id="collegeInputSearch" type="text" placeholder="Search from colleges...">
              <i class="search icon"></i>
            </div>
          </div>
        </div>
        <div class="ui row">
          <div class="ui horizontal divider"></div>
        </div>
        <div class="ui row">
          <div id="collegeTab" class="ui fluid container"></div>   
        </div>
        <div class="ui row">
          <div class="ui horizontal divider"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui bottom attached tab segment" data-tab="course">
    <div class="ui grid padded">
      <div class="ui column">
        <div class="ui row">
          <div class="ui fluid search" id="courseSearch">
            <div class="ui fluid icon input">
              <input class="prompt" id="courseInputSearch" type="text" placeholder="Search from courses...">
              <i class="search icon"></i>
            </div>
          </div>
        </div>
        <div class="ui row">
          <div class="ui horizontal divider"></div>
        </div>
        <div class="ui row">
          <div id="courseTab" class="ui fluid container"></div>          
        </div>
        <div class="ui row">
          <div class="ui horizontal divider"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ui bottom attached tab segment" data-tab="student">
    <div class="ui grid padded">
      <div class="ui column">
        <div class="ui row">
          <div class="ui fluid search" id="studentSearch">
            <div class="ui fluid icon input">
              <input class="prompt" id="studentInputSearch" type="text" placeholder="Search from students...">
              <i class="search icon"></i>
            </div>
          </div>
        </div>
        <div class="ui row">
          <div class="ui horizontal divider"></div>
        </div>
        <div class="ui row">
          <div id="studentTab" class="ui fluid container"></div>
        </div>
        <div class="ui row">
          <div class="ui horizontal divider"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ui horizontal divider"></div>
</div>
{% endblock %}