{% extends "base.html" %}

{% block content %}
<div class = "ui container"></div>
    <div class="ui four column doubling stackable grid container">
        <div class="column">        
            <h1 class="ui header">Welcome to Your Flask App</h1>
            <div class="ui placeholder">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <div class="column">
            <h1 class="ui header">Welcome to Your Flask App</h1>
            <div class="ui placeholder">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <div class="column">
            <h1 class="ui header">Welcome to Your Flask App</h1>
            <div class="ui placeholder">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <div class="column">
            <h1 class="ui header">Welcome to Your Flask App</h1>
            <div class="ui placeholder">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}