{% if button_id == "College" %}
    {% set type = 1 %}
{% elif button_id == "Course" %}
    {% set type = 2 %}
{% elif button_id == "Student" %}
    {% set type = 3 %}
{% endif %}

{% set max_page = rows["max_page"] %}
{% set curr_page = rows["current_page"] %}
{% set prev_page = rows["prev_page"] %}
{% set next_page = rows["next_page"] %}

{% if session.viewmode == "list" %}
    <table class="ui basic padded structured definition selectable table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    {{button_id}}
                </th>
                {% if button_id == "Course" %}
                <th>
                    College Code
                </th>
                {% elif button_id == "Student" %}
                <th>
                    Course Code
                </th>
                <th>
                    College Name
                </th>
                <th>
                    Year Level
                </th>
                <th>
                    Gender
                </th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows["results"] %}

                {% if button_id == "College" %}
                    {% set img_url = row[2] %}
                {% elif button_id == "Course" %}
                    {% set img_url = row[3] %}
                {% elif button_id == "Student" %}
                    {% set img_url = row[6] %}
                {% endif %}
                <tr>
                    <td class="collapsing">
                        {{loop.index + ((curr_page-1)*11) }}
                    </td>
                    <td>
                        <h4 class="ui image header">
                            {% if img_url != "" %}
                                <img src="{{img_url}}" class="ui rounded image" style="height: 2vw; width: 2vw; object-fit: cover;">
                            {% else %}
                                <div class="ui rounded placeholder image" style="height: 2vw; width: 2vw;"></div>
                            {% endif %}
                            <div class="content">
                                {{row[1]}}
                                {% if button_id == "Student" %}
                                {{row[2]}}
                                {% endif %}
                                <div class="sub header">
                                    {% if button_id != "Student" %}
                                        {{button_id}} Code: {{row[0]}}
                                    {% else %}
                                        {{button_id}} ID: {{row[0]}}
                                    {% endif %}
                                </div>
                            </div>
                        </h4>
                    </td>
                    {% if button_id == "Course" %}
                    <td>
                        {{row[2]}}
                    </td>
                    {% elif button_id == "Student" %}
                    <td>
                        {{row[3]}}
                    </td>
                    <td>
                        {{row[7]}}
                    </td>
                    <td>
                        {{row[4]}} Year
                    </td>
                    <td>
                        {{row[5]}}
                    </td>
                    {% endif %}
                    <td class="collapsing">
                        <button class="ui icon inverted red button gotoDelete{{button_id}}" value="{{rows["results"][loop.index - 1][0]}}">
                            <i class="trash icon"></i>
                        </button>
                        <button class="ui icon inverted violet button gotoEdit{{button_id}}" value="{{rows["results"][loop.index - 1][0]}}">
                            <i class="pencil alternate icon"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            <tr class="gotoButtons" id="gotoAdd{{button_id}}" >
                <td colspan="7" style="text-align: center;">
                    <i class="plus icon"></i>
                    Click to add {{button_id}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="ui fluid container center aligned" style="margin-top: 20px;">
        <div class="ui label">
            Page
            <div class="detail">{{curr_page}}</div>
            <div class="detail">of</div>
            <div class="detail">{{max_page}}</div>
        </div>
    </div>
    <div class="ui fluid container center aligned" style="margin-top: 20px;">
        <div class="ui pagination menu">
            <a class="icon item" href="" onclick="{{'return onclickGenerateTabContent('}}{{prev_page}}{{','}}{{type}}{{')'}}">
                <i class="left chevron icon"></i>
            </a>
            {% for page_number in range(1, max_page+1) %}
            <a class="item" href=""
                onclick="{{'return onclickGenerateTabContent('}}{{page_number}}{{','}}{{type}}{{')'}}">{{page_number}}</a>
            {% endfor %}
            <a class="icon item" href="" onclick="{{'return onclickGenerateTabContent('}}{{next_page}}{{','}}{{type}}{{')'}}">
                <i class="right chevron icon"></i>
            </a>
        </div>
    </div>

{% else %}

    <div class="ui link four stackable cards" style="overflow-y: scroll;">
    <div class="card button" id="gotoAdd{{button_id}}" style="background-color: rgb(169,169,169); padding: 2em;">
        <div class="square image" style="background-color: rgb(169,169,169); margin: auto;">
            <img class="ui image single-breakpoint" src="../static/images/add.png" style="background-color: rgb(169,169,169); height: 250px; width: 400px; object-fit: scale-down; margin: auto;">
        </div>
        <div class="content" style="border-top: 1px solid rgba(0,0,0,0); margin: auto;">
            <div class="header center aligned" style="color: lightgray">
                Click to add {{button_id}}
            </div>
        </div>
    </div>
    {% for row in rows["results"] %}

        {% if button_id == "College" %}
            {% set img_url = row[2] %}
        {% elif button_id == "Course" %}
            {% set img_url = row[3] %}
        {% elif button_id == "Student" %}
            {% set img_url = row[6] %}
        {% endif %}

        <div class="card" id="row{{rows["results"][loop.index - 1][0]}}">
            {% if img_url != "" %}
                <div class="square image">
                    <img class="ui image single-breakpoint" src="{{img_url}}" style="height: 250px; width: 400px; object-fit: cover; margin: auto;"/>
                </div>
            {% else %}
                <div class="ui placeholder">
                    <div class="ui container single-breakpoint" style="height: 250px; width: 400px; object-fit: cover; margin: auto;"></div>
                </div>
            {% endif %}
            <div class="content">
                <div class="description">
                    {{row[1]}}
                    {% if button_id == "Student" %}
                        {{row[2]}}
                    {% endif %}
                </div>
                <div class="meta">
                    {% if button_id == "Student" %}
                        <a>ID: {{row[0]}}</a> <br>     
                    {% else %}
                        <a>Code: {{row[0]}}</a> <br>
                    {% endif %}
                    {% if button_id == "Course" %}
                        <a>Collge Code: {{row[2]}}</a> <br>
                    {% elif button_id == "Student" %}
                        <a>Course Code: {{row[3]}}</a> <br>
                        <a>College Name: {{row[7]}}</a> <br>
                        <a>Year Level: {{row[4]}} Year</a> <br>
                        <a>Gender: {{row[5]}}</a> <br>
                    {% endif %}
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    <button class="ui icon inverted red button gotoDelete{{button_id}}" value="{{rows["results"][loop.index - 1][0]}}">
                        <i class="trash icon"></i>
                    </button>
                    <button class="ui icon inverted violet button gotoEdit{{button_id}}" value="{{rows["results"][loop.index - 1][0]}}">
                        <i class="pencil alternate icon"></i>
                    </button>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="ui divider"></div>
    <div class="ui fluid container center aligned" style="margin-top: 20px;">
        <div class="ui label">
            Page
            <div class="detail">{{curr_page}}</div>
            <div class="detail">of</div>
            <div class="detail">{{max_page}}</div>
        </div>
    </div>
    <div class="ui fluid container center aligned" style="margin-top: 20px;">
        <div class="ui pagination menu">
            <a class="icon item" href="" onclick="{{'return onclickGenerateTabContent('}}{{prev_page}}{{','}}{{type}}{{')'}}">
                <i class="left chevron icon"></i>
            </a>
            {% for page_number in range(1, max_page + 1) %}
                <a class="item" href="" onclick="{{'return onclickGenerateTabContent('}}{{page_number}}{{','}}{{type}}{{')'}}">{{page_number}}</a>
            {% endfor %}
            <a class="icon item" href="" onclick="{{'return onclickGenerateTabContent('}}{{next_page}}{{','}}{{type}}{{')'}}">
                <i class="right chevron icon"></i>
            </a>
        </div>
    </div>
    
{% endif %}