{% if session.viewmode == "list" %}
    <table class="ui basic padded structured definition selectable table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    {{button_id}}
                </th>
                {% if button_id == "Course" %}
                <th>
                    College Code
                </th>
                {% elif button_id == "Student" %}
                <th>
                    Course Code
                </th>
                <th>
                    Year Level
                </th>
                <th>
                    Gender
                </th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                {% if button_id == "College" %}
                    {% set img_url = row[2] %}
                {% elif button_id == "Course" %}
                    {% set img_url = row[3] %}
                {% elif button_id == "Student" %}
                    {% set img_url = row[6] %}
                {% endif %}
                <tr>
                    <td class="collapsing">
                        {{loop.index}}
                    </td>
                    <td>
                        <h4 class="ui image header">
                            {% if img_url != "" %}
                                <img src="{{img_url}}" class="ui rounded image" style="height: 2vw; width: 2vw; object-fit: cover;">
                            {% else %}
                                <div class="ui rounded placeholder image" style="height: 2vw; width: 2vw;"></div>
                            {% endif %}
                            <div class="content">
                                {{row[1]}}
                                {% if button_id == "Student" %}
                                {{row[2]}}
                                {% endif %}
                                <div class="sub header">
                                    {% if button_id != "Student" %}
                                        {{button_id}} Code: {{row[0]}}
                                    {% else %}
                                        {{button_id}} ID: {{row[0]}}
                                    {% endif %}
                                </div>
                            </div>
                        </h4>
                    </td>
                    {% if button_id == "Course" %}
                    <td>
                        {{row[2]}}
                    </td>
                    {% elif button_id == "Student" %}
                    <td>
                        {{row[3]}}
                    </td>
                    <td>
                        {{row[4]}} Year
                    </td>
                    <td>
                        {{row[5]}}
                    </td>
                    {% endif %}
                    <td class="collapsing">
                        <button class="ui icon inverted red button gotoDelete{{button_id}}" value="{{rows[loop.index - 1][0]}}">
                            <i class="trash icon"></i>
                        </button>
                        <button class="ui icon inverted violet button gotoEdit{{button_id}}" value="{{rows[loop.index - 1][0]}}">
                            <i class="pencil alternate icon"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            <tr class="gotoButtons" id="gotoAdd{{button_id}}" >
                <td colspan="6" style="text-align: center;">
                    <i class="plus icon"></i>
                    Click to add {{button_id}}
                </td>
            </tr>
        </tbody>
    </table>

{% else %}
    <div class="ui link four stackable cards" style="overflow-y: scroll;">
    <div class="card button" id="gotoAdd{{button_id}}" style="background-color: rgb(169,169,169); padding: 2em;">
        <div class="square image" style="background-color: rgb(169,169,169); margin: auto;">
            <img class="ui image single-breakpoint" src="../static/images/add.png" style="background-color: rgb(169,169,169); height: 250px; width: 400px; object-fit: scale-down; margin: auto;">
        </div>
        <div class="content" style="border-top: 1px solid rgba(0,0,0,0); margin: auto;">
            <div class="header center aligned" style="color: lightgray">
                Click to add {{button_id}}
            </div>
        </div>
    </div>
    {% for row in rows %}
        <div class="card" id="row{{rows[loop.index - 1][0]}}">
            {% if button_id == "College" %}
                {% set img_url = row[2] %}
            {% elif button_id == "Course" %}
                {% set img_url = row[3] %}
            {% elif button_id == "Student" %}
                {% set img_url = row[6] %}
            {% endif %}

            {% if img_url != "" %}
                <div class="square image">
                    <img class="ui image single-breakpoint" src="{{img_url}}" style="height: 250px; width: 400px; object-fit: cover; margin: auto;"/>
                </div>
            {% else %}
                <div class="ui placeholder">
                    <div class="ui container single-breakpoint" style="height: 250px; width: 400px; object-fit: cover; margin: auto;"></div>
                </div>
            {% endif %}
            <div class="content">
                <div class="meta">
                    <a>{{row[0]}}</a>
                </div>
                <div class="description">
                    {{row[1]}}
                    {% if button_id == "Student" %}
                        {{row[2]}}
                    {% endif %}
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    <button class="ui icon inverted red button gotoDelete{{button_id}}" value="{{rows[loop.index - 1][0]}}">
                        <i class="trash icon"></i>
                    </button>
                    <button class="ui icon inverted violet button gotoEdit{{button_id}}" value="{{rows[loop.index - 1][0]}}">
                        <i class="pencil alternate icon"></i>
                    </button>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}